#hotels {
    margin: 15px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    grid-gap: 3%;
    justify-content: space-evenly;
    margin: 50px;


}

.my-hotels img {
    height: 100%;
    width: 100%;
    border: solid;
    border-radius: 100%;
}

.my-hotels img:hover {
    border: solid gray 3px;
    width: 120%;
    height: 120%;
    transition: width 0.5s, height 0.5s;
}

#end-hotels {
    margin-top: 80px;
    margin-bottom: 280px;
}


@media only screen and (max-width: 768px) {
    #hotels {
        margin: 0;
    }
}