/* הסבר על המעצבת */
#title-story {
  width: 65%;
  text-align: center;
  position: absolute;
  top: 40px;
  font-size: 50px;
  color: var(--blue);
  font-weight: bolder;
  padding: 5px;
  text-shadow: 1px 1px 10px #ffffff;
}

#my_story {
  margin-top: 120px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--brown);
  color: var(--blue);
  padding: 20px;
}
/* רשימת סניפים */
table,
th,
td {
  border: 2px solid white;
  text-align: center;
  border-collapse: collapse;
  padding: 2px 10px 2px 10px;
  background-color: var(--blue);
  color: var(--brown);
  margin-left: auto;
  margin-right: auto;
}
