body {
  background-image: radial-gradient(
      circle at center center,
      #444df70c,
      #ffdc9c7a
    ),
    repeating-radial-gradient(
      circle at center center,
      #444df715,
      #444df700,
      10px,
      transparent 20px,
      transparent 10px
    );
  background-blend-mode: multiply;
}
h3 {
  top: 95px;
  text-align: center;
  font-size: 50px;
}
/* עיצוב כללי לכל האלמנטים */
#list {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
/* רקע של הוידאו */
.recommendation {
  text-align: center;
  position: relative;
  top: 100px;
  font-size: 25px;
  height: 500px;
  margin-bottom: 150px;
}
.recommendation div {
  color: white;
  width: 850px;
  height: 300px;
}
.recommendation video {
  position: relative;
  top: -200px;
}

#video {
  width: 700px;
}
audio {
  margin-top: 10px;
  width: 700px;
}
#harry-potter {
  background-color: var(--blue);
}
#josh-brain {
  background-color: var(--blue);
}
#friends {
  width: 850px;
  height: 200px;
  background-color: var(--blue);
  color: white;
  text-align: center;
  position: relative;
  top: 150px;
  z-index: -1;
  font-size: 25px;
}

.family {
  max-width: 850px;
  width: 810px;
  text-align: center;
  background-color: var(--brown);
  color: var(--blue);
  padding: 20px;
}
