#reka {
  width: 100%;
}
/* כותרת ספציפית */
#header {
  background: rgba(255, 255, 255, 0.7);
}
/* החותמת של עורכי האתר */
@keyframes rotate {
  0% {
    opacity: 1;
  }
  20% {
    background-color: var(--blue);
    top: 0px;
    left: 0px;
    width: 50px;
    height: 15px;
    opacity: 1;
  }
  40% {
    background-color: var(--brown);
    top: 0px;
    left: 150px;
    width: 100px;
    height: 30px;
    opacity: 1;
  }
  60% {
    background-color: var(--blue);
    top: 150px;
    left: 150px;
    width: 150px;
    height: 50px;
    opacity: 1;
  }
  80% {
    background-color: var(--brown);
    top: 150px;
    left: 0px;
    width: 200px;
    height: 60px;
    opacity: 1;
  }
  100% {
    background-color: var(--brown);
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100px;
    opacity: 0;
  }
}
#dad {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 250px;
  left: 30%;
  transform: translateX(-50%);
}
.sighn {
  width: 50%;
  height: 100px;
  background-color: var(--blue);
  border-radius: 5%;
  animation-name: rotate;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: unset;
  animation-direction: normal;
  position: relative;
  font-family: calibri;
  text-align: center;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sighn div {
  font-size: 40px;
}
/* תיאור של המעצבת */
#description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  direction: rtl;
  text-align: center;
  color: var(--brown);
  font-style: italic;
}
/* גלרית תמונות */
.title-gallery {
  margin-right: 140px;
  position: absolute;
  top: -80px;
  font-size: 50px;
  color: var(--blue);
  font-weight: bolder;
  padding: 5px;
  text-shadow: 1px 1px 10px #ffffff;
}
.gallery-contain {
  position: relative;
  display: grid;
  background-color: rgb(170, 115, 56);
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(7 100px);
  justify-content: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 30px;
}
.gallery {
  width: 400px;
  transition: border 1s ease-in-out;
}
.gallery:hover {
  border: 7px solid #32484f;
  box-sizing: border-box;
}
.img1 {
  grid-row: 1/3;
}
.img2 {
  grid-row: 3/5;
  grid-column: 1;
}
.img3 {
  grid-column: 2;
  grid-row: 1/4;
}
.img4 {
  grid-column: 2;
  grid-row: 4/6;
}

.img5 {
  grid-column: 2;
  grid-row: 6/8;
  border-bottom-left-radius: 10%;
}
.img6 {
  border-bottom-right-radius: 10%;
  grid-column: 1;
  grid-row: 5/8;
  height: 410px;
}

.img7 {
  grid-column: 1;
  grid-row: 1/3;
  border-top-right-radius: 10%;
}
.img8 {
  border-top-left-radius: 10%;
  grid-column: 2;
  grid-row: 1/3;
}
.img9 {
  grid-column: 1;
  grid-row: 3/6;
}
.img10 {
  grid-column: 2;
  grid-row: 3/5;
}
.img11 {
  grid-column: 1;
  grid-row: 6/8;
}
.img12 {
  grid-column: 2;
  grid-row: 5/8;
}

/* טופס יצירת קשר */
#title_contact {
  color: var(--blue);
  font-size: 25px;
  text-align: center;
  text-shadow: 1px 1px 5px burlywood;
}
#contact {
  min-width: 380px;
  width: 50%;
  max-width: 600px;
  background-color: var(--blue);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
input::placeholder {
  color: var(--blue);
  font-weight: bold;
}
input {
  background-color: var(--brown);
  width: 350px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 8px;
  text-align: center;
}
select {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 8px;
  background-color: var(--brown);
}
#phone {
  width: 280px;
}
#textarea {
  background-color: var(--brown);
  width: 350px;
}
#submit {
  background-color: var(--brown);
  color: var(--blue);
  width: 359px;
  font-weight: 700;
}
/* התאמה למסך 800 */
@media screen and (max-width: 800px) {
  #header {
    position: absolute;
    display: flex;

    flex-direction: column;

    width: 20%;
    height: 130px;
    background-color: var(--blue);
  }
  #reka {
    margin-top: 133px;
  }
  #logo {
    margin-top: 10px;
    width: 20%;
  }
  .slant {
    display: none;
  }
  .gallery-contain {
    display: flex;
    width: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gallery2-contain {
    display: flex;
    width: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title-gallery {
    margin-right: 10px;
  }
  .img5 {
    border-radius: 0;
  }
  .img6 {
    border-radius: 0;
  }
  .img7 {
    border-radius: 0;
  }
  .img8 {
    border-radius: 0;
  }
}
