/* תמונה תחת הכותרת */
main {
    background-image: url(image/רקע\ ספא.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    text-align: right;
    font-size: 40px;
    padding-top: 40px;
}
main h1 {
    margin-right: 100px;
    margin-top: 50px;
}
/* תמונות */
section {
    display: flex;
    justify-content: space-around;
    background-color:#bfb789;
    padding: 30px;
}
section img {
    height: 500px;
    width: 550px;
}